.selected_box{
	height: 200px;
}

.chart-options div{
	display: inline-block;
	vertical-align: top;
}

.chart-options a{
	cursor: pointer;
}

.dates{
	padding-top:10px;
}
.dates input{
	margin:20px;
}

.dates div{
	display: inline-block;
}

.popper{
	display: block !important;
}

.react-datepicker{
	display: inline-block !important;
}

.react-datepicker div{
	display: block;
}

.react-datepicker__month-container {
	display: inline !important;
}

.react-datepicker__day-name, .react-datepicker__day{
	display: inline-block !important;
}

.multi-select{
	padding-top: 30px;
}

